.fa{
    color:rgb(48, 132, 228)
}

a{
    text-decoration: none;
    border-bottom: 1px solid blue;
}

body{
    background-color:#eee;
}

.box-part{
    background-color: white;
    padding: 60px 0px;
    margin: 30px 0px;
    border-radius: 0px;
}

.text{
    margin: 20px 0px;
}

.box{
    padding: 60px;
}